body {
  width: 100vw;
  height: 100vh;
}
#root {
  width: 100%;
  height: 100%;
}

.Navbar {
  height: 70px !important;
}

.optionsPopup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
}

.BodyContent {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 99;
}

.ContentContainer {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.2); /* Black w/opacity/see-through */
  backdrop-filter: blur(10px);
  height: fit-content;
  border-radius: 20px;
}

.boxStyle {
  align-items: flex-end !important;
  justify-content: center !important;
}

.cursor--pointer {
  cursor: pointer;
}

.overflowy--scroll {
  overflow-y: scroll;
  max-height: 70vh;
}

.Freq--SingleObject--boxStyle {
  align-items: flex-end;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.Freq--SingleObject--boxStyle:hover {
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}

.WeatherPopup {
  position: absolute;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: fit-content;
  z-index: 5000 !important;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.optionsContainer {
  justify-content: center;
  align-items: center;
  display: flex;
}

.optionsColumnContainer {
  height: fit-content;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
